<div id="listContent" >
    <h1 style="color:blue;"><center><b>Student Information System</b></h1>
    
    <div ng-show="listMode" id="grid1" ui-grid="{ data: studentProfiles }" class="grid"></div>
    <button ng-click="add()" value="Add">Add</button>

    <div ng-show="!listMode">
        <h2 style="position: relative;left: 350px;top:2px">Personal Details</h2>
        <div><span>Name</span><input type="text" ng-model="studentProfile.name"/></div>
        <div><span>RollNo</span><input type="text" ng-model="studentProfile.rollNo"/></div>
        <div><span>Programme</span><input type="text" ng-model="studentProfile.programme"/></div>
        <div><span>Semester</span><input type="text" ng-model="studentProfile.semester"/></div>
    </div>
    <button ng-show="!listMode" ng-click="save()" value="Save">Save</button>

</div>
