<div id="listContent" >
    <h1 style="color:blue;"><center><b>Student Information System</b></h1>
    
    <div ng-show="listMode" id="grid1" ui-grid="{ data: studentProfiles }" class="grid"></div>
    <button ng-click="add()" value="Add">Add</button>
    <button ng-show="listMode" ng-click="get()" value="Save">view</button>


    <div ng-show="!listMode">
        <h2 style="position: relative;left: 350px;top:2px">Personal Details</h2>
        <label>Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="studentProfile.name"  placeholder="Name">
  <br>
    <label>RollNo:</label>
    <input class="w3-input w3-border" type="text" ng-model="studentProfile.rollNo" placeholder="RollNo">
  <br>
    <label>Programme:</label>
    <input class="w3-input w3-border" type="text" ng-model="studentProfile.programme" placeholder="Programe">
  <br>
  <label>Semester:</label>
    <input class="w3-input w3-border" type="text" ng-model="studentProfile.semester" placeholder="Semester">
  <br>
    </div>
    <button ng-show="!listMode" ng-click="save()" value="Save">Save</button>

</div>
